{% load static %}
<!DOCTYPE html>
<html lang="lang">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extrahead %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% endblock %}
    <title>Document</title>
</head>
<body>
    <section id="main-content">
        <h1 id="main-content_head">あいさつくん</h1>
        <ul id="main-content_list">
            <li><h2>「{{result}}」</h2></li>
            <li>時間：<span class="strong">{{time}}時</span></li>
        </ul>
    </section>
</body>
</html>